.env


# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
out/
build/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log



# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Electron-specific
*.asar
